{{#with products}}
<h1>{{ name }}</h1>
<br> {{ description }}
<br> {{ price }} 
<br> {{ id }}
<br> {{> footer}}
<br>
<br>
<form method='post' action='/product/{{id}}?_method=DELETE'>
<button type="submit">Delete product</button>
</form>
<br>
<a href="/product/{{id}}/edit">Edit Product</a>
{{/with}}
<br>
<a href="/product">back</a>